
.calculator {
   display: flex;
   height: 90vh;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.calculator-buttons {
    height: 18vw;
    width: 20vw;
    margin-top: 2%;
    row-gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#display {
    width: 20vw;
    height: 3.5vw;
    
}